<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BCMLite</title>
    <!-- Bootstrap CSS -->
    @Styles.Render("~/Content/css")

</head>
<body>
    @RenderBody()

    <!-- Angularjs -->
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/angularApp")
    <!-- Bootstrap Js -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!-- Custom Scripts -->
    @Scripts.Render("~/bundles/sb-admin")
    <script src="~/Scripts/dirPagination.js"></script>
</body>
</html>
