@{
    ViewBag.Title = "Plans";
}

<h4>@ViewBag.Title</h4>



<div ng-app="myApp" ng-controller="organisationsCtrl">



    @if (ViewBag.IsAdmin == true)
        {
    <div class="form-group">
        @*@Html.DropDownList("OrganisationID", null, String.Empty, htmlAttributes: new { @class = "form-control", ng_model = "organisationId", ng_change = "getPlans(organisationId)" })*@
        <select class="form-control" 
                ng-model="organisationId" 
                ng-change = "getPlans(organisationId)"  
                ng-options="organisation.organisationID as organisation.name for organisation in organisations">
        </select>
    </div>

        }

        <p>
            <a href="@Url.Action("Create","DepartmentPlans")?organisationId={{organisationId}}">Create New</a>
        </p>

        <table class="table">
            <tr>
                <th>
                    Department
                </th>
                <th>
                    Plan Name
                </th>
                <th>
                    Plan Description
                </th>
                <th>
                    Plan Type
                </th>
                <th></th>
            </tr>

            <tr ng-repeat="x in plans">
                <td>{{ x.departmentName }}</td>
                <td>{{ x.name }}</td>
                <td>{{ x.description }}</td>
                <td>{{ x.type }}</td>
                <td>
                    <a href="@Url.Action("Edit","DepartmentPlans")?id={{x.id}}">Edit</a> |
                    <a href="@Url.Action("Details","DepartmentPlans")?id={{x.id}}">Details</a> |
                    <a href="@Url.Action("Delete","DepartmentPlans")?id={{x.id}}">Delete</a>
                </td>
            </tr>

        </table>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/angular.js")
    @*@Scripts.Render("~/Scripts/app/components/plans/plansModel.js")
    @Scripts.Render("~/Scripts/app/components/plans/plansService.js")*@
    @Scripts.Render("~/Scripts/app/components/plans/plansController.js")
    @*@Scripts.Render("~/Scripts/app/components/plans/test.js")*@
}
