@{
    ViewBag.Title = "Plans";
}

<h1>@ViewBag.Title</h1>



<div ng-app="myApp" ng-controller="plansCtrl">



    @if (ViewBag.IsAdmin == true)
    {
        <div class="form-group">
            <select class="form-control"
                    ng-model="organisationId"
                    ng-init="getPlans(organisationId)"
                    ng-change="getPlans(organisationId)"
                    ng-options="organisation.organisationID as organisation.name for organisation in organisations">
                <option value="" disabled selected>--Select Organisation--</option>
            </select>
        </div>

    }

        <p>
            <a href="@Url.Action("Create","DepartmentPlans")?organisationId={{organisationId}}" class="btn btn-outline-success">New</a>
            <a href="@Url.Action("Edit","DepartmentPlans")?id={{departmentPlanId}}" class="btn btn-outline-info" ng-show="showActions">Edit</a>
            <a href="@Url.Action("Delete","DepartmentPlans")?id={{departmentPlanId}}" class="btn btn-outline-danger" ng-show="showActions">Delete</a>
        </p>
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th>
                            Department
                        </th>
                        <th>
                            Plan Name
                        </th>
                        <th>
                            Plan Description
                        </th>
                        <th>
                            Plan Type
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in plans" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index, x.id)">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ x.departmentName }}</td>
                        <td>{{ x.name }}</td>
                        <td>{{ x.description }}</td>
                        <td>{{ x.type }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

@section scripts {
    @Scripts.Render("~/Scripts/angular.js")
    @*@Scripts.Render("~/Scripts/app/components/plans/plansModel.js")
        @Scripts.Render("~/Scripts/app/components/plans/plansService.js")*@
    @Scripts.Render("~/Scripts/app/components/plans/plansController.js")
    @*@Scripts.Render("~/Scripts/app/components/plans/test.js")*@
}
